@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth overflow-x-hidden;
  }
  
  body {
    @apply font-sans text-gray-800 antialiased overflow-x-hidden;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
    font-family: var(--font-plus-jakarta-sans), sans-serif;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}

/* Animações adicionais */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

/* Adicione ao seu arquivo globals.css ou como um componente styled */
/* styles/globe.css */
.globe-wrapper {

  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
}


